<div class="container mt-5">

    <div class="position-absolute top-50 start-50 translate-middle mt-5">
        <div class="col-md-6 a-box">
            <div class="img-container">
                <div class="img-inner">
                    <div class="inner-skew">
                        <img src="{{image}}">
                    </div>
                </div>
            </div>
            <div class="text-container">

                <h2>{{name}} {{last_name}}</h2>
                <hr>
                <div class="text-start">
                    <p>posición:{{pos}}</p>
                    <p>número:{{squadNumber}}</p>
                    <p>goles:{{goals}}</p>
                    <p>tarjetas rojas:{{reds}}</p>
                    <p>tarjetas amarillas:{{yellows}}</p>
                </div>
                <a href="/equipos" class="btn btn-dark">Equipos</a>
            </div>
        </div>
    </div>