<div class="col-md-3">
    <div class="card" style="width: 18rem;">
        <img src="{{imageUrl}}" class="card-img-top" alt="photo">
        <div class="card-body">
            <h2 class="card-title">{{name}}</h2>
            <hr>
            <h4>{{eventName}}</h4>
            <p class="card-text">{{description}}</p>
            <p>{{date}}</p>
            {{#each comments}}
            {{description}}
            <form action="/comentarios/borrar/{{id}}" method="POST" style="display:inline">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
            {{/each}}
            <form action="/eventos/participar/{{id}}" method="POST">
                <input type="submit" value="Participar" class="btn btn-outline-success">
            </form>
            <a href="/comentarios/crear/{{id}}">Crear comentario</a>
            <hr>
            <br>

        </div>

    </div>
</div>