<div class="container mt-5">
    <div class="row text-center mt-4 d-flex justify-content-around">
        <div class="col-md-3">
            <div class="card mb-5 shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
                <img src="{{imageUrl}}" class="card-img-top" alt="photo">
                <div class="card-body">
                    <h2 class="card-title">{{name}}</h2>
                    <hr>
                    <h4>{{eventName}}</h4>
                    <p class="card-text">{{description}}</p>
                    <p>{{date}}</p>

                    <a href="/comentarios/crear/{{id}}">Crear comentario</a>
                    <br>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            {{#each comments}}
            <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                <div class="card-header">
                    <h5>{{owner.username}}</h5>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{description}}</p>
                    </blockquote>
                </div>
                {{#if canEdit}}
                <form action="/comentarios/borrar/{{id}}" method="POST" style="display:inline">
                    <input type="submit" value="Borrar" class="btn btn-danger">
                </form>
                {{/if}}
            </div>
            {{/each}}
        </div>