<div class='container'>

    <h1>hey {{user.username}}</h1>
    <h1> {{user.role}}</h1>


    {{#if isPresident}}
    <a href="/eventos/crear" class="btn btn-primary"> Crear Evento</a>
    {{/if}}

    {{#if isManager}}
    <a href="/eventos/crear" class="btn btn-primary"> Crear Evento</a>
    {{/if}}


    {{#each userEvents}}
    <p>{{name}}</p>

    <a href="/eventos/editar/{{id}}" class="btn btn-dark">Editar</a>

    <form action="/eventos/eliminar/{{id}}" method="POST" style="display: inline">
        <input type="submit" value="Eliminar" class="btn btn-danger">
    </form>


    {{/each}}

    <div>
        {{#each joinEvents}}
        <p>{{name}}</p>

        <form action="/perfil/eliminar/{{id}}" method="POST" style="display: inline">
            <input type="submit" value="desapuntar" class="btn btn-danger">
        </form>


        {{/each}}
    </div>
    <hr>
    <a href="/" class="btn btn-primary">Volver a Inicio</a>

</div>